
table  { border-collapse: collapse; }
td, th { border: 1px solid black; padding: 3px 8px; }
th     { text-align: left; }
#main {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.circle {position: absolute; display: inline };